<!doctype html>
<html>
  <%- include('../includes/head.ejs'); %>
  <body>
    <div id="main">
      <div id="workpage1">
        <%- include('../includes/nav.ejs'); %>
        <div class="worktitle">
          <br><br><br><br><br><br><span>&nbsp;TURNING</span><br>
          <div style="z-index: 99; position: relative;">
            <span style="margin-left: 18%;">IDEAS&nbsp;INTO</span><br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REALITY</span>
          </div>

        </div>
        <div id="workgooey">

        </div>
      </div>
    </div>
    <%- include('../includes/scripts.ejs'); %>
  </body>
</html> 